#logo {
    padding: 80px;
}

#navbar {
    border-bottom: 1px solid $separator_color;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding: $spacing;
            display: inline-block;

            a {
                color: $brand_primary;
                text-decoration: none;
                font-size: $font_size * 1.3;

                &.cta {
                    color: lighten($brand_primary, 50%);
                }

                &:hover {
                    color: $brand_secondary;
                }
            }
        }
    }
}
